.form__button {
  margin: 1.75rem 0 0;
  padding: 0;
  width: 100%;
  min-height: 50px;
  border: 0;
  background: #000;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  -webkit-transition: background-color 0.3s ease-out 0.1s;
  -moz-transition: background-color 0.3s ease-out 0.1s;
  -ms-transition: background-color 0.3s ease-out 0.1s;
  -o-transition: background-color 0.3s ease-out 0.1s;
  transition: background-color 0.3s ease-out 0.1s;
}

.form__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
