.profile__btn-edit-avatar {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  overflow: hidden;
  cursor: pointer;
  background: transparent;
  -webkit-transition: background-color 0.3s ease-out 0.1s;
  -moz-transition: background-color 0.3s ease-out 0.1s;
  -ms-transition: background-color 0.3s ease-out 0.1s;
  -o-transition: background-color 0.3s ease-out 0.1s;
  transition: background-color 0.3s ease-out 0.1s;
}

.profile__btn-edit-avatar:hover {
  background:rgba(0,0,0, 0.8) url("../../../images/icons/pencil_large.svg") no-repeat center;
}
