.profile__btn-add {
  border: 2px solid #fff;
  background-color: transparent;
  background: url("../../../images/icons/plus.svg") no-repeat center;
  border-radius: 2px;
  width: 100%;
  min-height: 50px;
  cursor: pointer;
  font-family: inherit;
  justify-self: end;
  -webkit-transition: border-color 0.3s ease-out 0.1s;
  -moz-transition: border-color 0.3s ease-out 0.1s;
  -ms-transition: border-color 0.3s ease-out 0.1s;
  -o-transition: border-color 0.3s ease-out 0.1s;
  transition: border-color 0.3s ease-out 0.1s;
}

.profile__btn-add:hover {
  border-color: rgba(256, 256, 256, 0.6);
  background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 425px) {
  .profile__btn-add {
    margin-top: 0.5rem;
    background-size: 16px;
  }
}
