.icon-button {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-size: 19px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: opacity 0.3s ease-out 0.1s;
  -moz-transition: opacity 0.3s ease-out 0.1s;
  -ms-transition: opacity 0.3s ease-out 0.1s;
  -o-transition: opacity 0.3s ease-out 0.1s;
  transition: opacity 0.3s ease-out 0.1s;
}

.card__like:hover {
  opacity : 0.5;
}
