.card__btn-delete {
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  width: 20px;
  min-height: 18px;
  font-family: inherit;
  font-size: 19px;
  cursor: pointer;
  z-index: 2;
  background: url("../../../images/icons/trash.svg") no-repeat center;
  -webkit-transition: opacity 0.3s ease-out 0.1s;
  -moz-transition: opacity 0.3s ease-out 0.1s;
  -ms-transition: opacity 0.3s ease-out 0.1s;
  -o-transition: opacity 0.3s ease-out 0.1s;
  transition: opacity 0.3s ease-out 0.1s;
}

.card__btn-delete:hover {
  opacity: 0.6;
}
