.profile__btn-edit {
  margin: 0;
  padding: 0;
  grid-area: btn;
  cursor: pointer;
  border: 1px solid #fff;
  background-color: transparent;
  background: url("../../../images/icons/pencil.svg") no-repeat center;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-transition: opacity 0.3s ease-out 0.1s;
  -moz-transition: opacity 0.3s ease-out 0.1s;
  -ms-transition: opacity 0.3s ease-out 0.1s;
  -o-transition: opacity 0.3s ease-out 0.1s;
  transition: opacity 0.3s ease-out 0.1s;
}

.profile__btn-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 425px) {
  .profile__btn-edit {
    width: 1.125rem;
    height: 1.125rem;
  }
}
