.profile__btn-edit {
  margin: 0;
  padding: 0;
  grid-area: btn;
  cursor: pointer;
  border: 1px solid #fff;
  background-color: transparent;
  background: url("../../../images/icons/pencil.svg") no-repeat center;
  width: 1.5rem;
  height: 1.5rem;
}
