.profile__btn-edit {
  margin: 0;
  padding: 0;
  grid-area: btn;
  cursor: pointer;
  border: 1px solid #fff;
  background-color: transparent;
  background: url("../../../images/icons/pencil.svg") no-repeat center;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-transition: border-color 0.3s ease-out 0.1s;
  -moz-transition: border-color 0.3s ease-out 0.1s;
  -ms-transition: border-color 0.3s ease-out 0.1s;
  -o-transition: border-color 0.3s ease-out 0.1s;
  transition: border-color 0.3s ease-out 0.1s;
}

.profile__btn-edit:hover {
  border-color: rgba(256, 256, 256, 0.6);

}
