.card__like {
  margin: 0 0 0 2rem;
  padding: 0;
  border: 0;
  width: 22px;
  min-height: 19px;
  font-family: inherit;
  font-size: 19px;
  cursor: pointer;
  background: url("../../../images/icons/like.svg") no-repeat center;
  -webkit-transition: background-image 0.3s ease-out 0.1s;
  -moz-transition: background-image 0.3s ease-out 0.1s;
  -ms-transition: background-image 0.3s ease-out 0.1s;
  -o-transition: background-image 0.3s ease-out 0.1s;
  transition: background-image 0.3s ease-out 0.1s;
}

.card__like:hover {
  background-image: url("../../../images/icons/like_state_hover.svg");
}
