.form_place_popup {
  margin: 0;
  padding: 34px 2.25rem 2.25rem;
  max-width: 430px;
  width: 34vw;
  box-sizing: border-box;
}

@media screen and (max-width: 425px) {
  .form_place_popup {
    padding: 25px 22px 22px;
    max-width: 282px;
  }
}
