.popup__title {
  margin: 34px 2.25rem;
  padding: 0;
  color: #000;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 425px) {
  .popup__btn_close {
    width: 100%;
    max-width: 20px;
    min-height: 20px;
    top: -2.25rem;
    right: 0;
  }
}
