.card {
  margin: 0;
  padding: 0 0 25px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr min-content;
  grid-gap: 1.5rem 2rem;
  grid-template-areas:
    "image image"
    "title like";
}
